anyio
asttokens
backcall
certifi
click
colorama
comm
contourpy
cycler
debugpy
decorator
distlib
distro
entrypoints
et-xmlfile
executing
fastapi
filelock
fonttools
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
openpyxl
packaging
pandas
parso
patsy
pickleshare
Pillow
pipenv
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
Pygments
pyparsing
PyPDF2
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
statsmodels
tabula-py
threadpoolctl
tornado
traitlets
typing_extensions
uvicorn
virtualenv
virtualenv-clone
wcwidth
